{% extends 'users/auth_base.html' %}

{% block title %} Set new password {% endblock %}

{% block main %}
<div class="container d-flex justify-content-center align-items-center h-100">
    <div class="col-md-5">
        <div class="ep-card">
        <div class="text-center mb-4">
            <div class="brand-logo">EFS Portal</div>
            <p class="text-muted">Enter your new password</p>
        </div>
        {% if messages %}
            {% for message in messages %}
            <div class="{% if message.tags %} {{message.tags}}_alert {% endif %}">{{message}}</div>
            {% endfor %}
            {% endif %}
        <form method="POST" action="{% url 'epusers_change_password' uidb64=uidb64 token=token %}">
            {% csrf_token %}
            <div class="mb-3 position-relative">
            <label class="form-label">Password</label>
            <input type="password" id='pwd' name="password" class="form-control" placeholder="Password" required>
            <i class="fa-solid fa-eye position-absolute" id="togglePwd" onclick="togglePassword('pwd', 'togglePwd')" style="top: 72%; right: 15px; transform: translateY(-50%); cursor: pointer;"></i>
        </div>
        <div id="match_message" class="pwd_match_info" ></div>
        <!-- NEW: Password strength feedback block -->
        <div id="password-feedback" class="mb-2">
            <p class="form-text text-muted small" style="margin-bottom: 5px;">
                A strong password should contain at least 8 characters and use any 3 of the following 4 types: uppercase, lowercase, numbers, or special characters.
            </p>
            <p id="strength-text" style="margin: 0; font-weight: bold;"></p>
        </div>
        <div class="mb-3 position-relative">
            <label class="form-label">Confirm Password</label>
            <input type="password" id="cpwd" name="confirm_password" class="form-control" placeholder="Confirm password" required>
            <i class="fa-solid fa-eye position-absolute" id="togglePwd" onclick="togglePassword('cpwd', 'togglePwd2')" style="top: 72%; right: 15px; transform: translateY(-50%); cursor: pointer;"></i>
        </div>
            <div class="d-grid">
            <button type="submit" class="btn btn-primary">Reset Password</button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}